body {
	padding: 0;
	margin: 0;
	background: #131514 url(../images/bg-forest2.jpg) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #8a8a8a;
}
input[type=text] {
    background-color: #fff;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 3px;
    margin: 0 3px;
}
/* Login Page */
#login-box {
	margin: 250px auto 0;
	width: 556px;
	height: 217px;
	background: url(../images/login_box.png) no-repeat center top;
	color: #919397;
	line-height: 20px;
}
#login-left {
	width: 288px;
	float: left;
	padding: 13px 20px;
}
#login-right {
	width: 188px;
	float: left;
	padding: 13px 20px;
}
.login-header {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e7e7;
	color: #7e8085;
	margin-bottom: 12px;
}
form.login {
	margin-top: 20px;
}
.login p {
	line-height: 30px;
	color: #626262;
}
.login input {
	background: url(../images/input_text.gif) no-repeat top left;
	width: 210px;
	height: 30px;
	padding: 0 5px;
	border: 0;
	color: #7e8085;
	float: right;
}
a.forgotten-password{
	line-height: 30px;
}
button.forgot-password{
	float: right;
	margin: 0px -8px 0 0;
	border: 0;
	background: transparent;
}
.formbutton{
	border: 0; 
	background: transparent;
        margin-top: 4px;
}
button.create-account{
	margin: 10px 0 0 -8px;
	border: 0;
	background: transparent;
}
/* Menu */
.menu {
    list-style-type: none;
    list-style-position: outside;
    position: relative;
	width: 625px;
    margin: 150px auto 0;
    padding: 0;
}
.menu li{
	display: block;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
	float: left;
	width: 125px;
	height: 40px;
	margin-right: 0px;
	background-image: url(../images/menu.jpg);
	background-repeat: no-repeat;
}
.menu a{
	display: block;
	height: 40px;
	text-indent: -9999px;
	outline: none;
}
#home {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-position: 0px 0px;
	border-top: 1px solid #4d4d4d;
	border-left: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}
#market {
	background-position: -200px 0px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}
#mating {
	background-position: -400px 0px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}
#highscores {
	background-position: -600px 0px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}
#logout {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-position: -800px 0px;
	border-top: 1px solid #4d4d4d;
	border-right: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}
#home.active, #home:hover {
	background-position: 0 bottom;
}
#market.active, #market:hover{
	background-position: -200px bottom;
}
#mating.active, #mating:hover {
	background-position: -400px bottom;
}
#highscores.active, #highscores:hover {
	background-position: -600px bottom;
}
#logout.active, #logout:hover {
	background-position: -800px bottom;
}
hr {
	background: transparent;
	border: 1px solid #a6a6a6;
	margin-bottom: 15px;
	width: 95%;
}
/* Main Panel */
.content {
	margin: 30px auto 50px;
	width: 605px;
	padding: 10px;
	background: #fff url(../images/content_bg.jpg) repeat-x top;
	border: 2px solid #fff;
	border-radius: 5px;
}

.unreg{
    margin-top: 200px;
}
.date {
	float: right;
	font-weight: bold;
	color: #5988ff;
}
/* Market */
#buylist {
	margin-bottom: 20px;
}
.content h1{
	font-size: 18px;
	margin: 0 5px;
	margin-bottom: 10px;
	color: #5988ff;
        text-shadow: 0.1em 0.1em 0.2em #fff;
}
/* Create an account */
.box{
    background-color: #f2f3f4;
    border-radius: 5px;
    border: 3px solid #bfbbbb;
    width: 400px;
    margin: 150px auto 0 auto;
    padding: 10px;
}
/* Sidebars */
#friendslist{
	position: fixed; 
	left:0px; 
	top: 150px; 
	width: 200px;
	height: 300px;
	border-top-right-radius: 5px;
	background: #969696; /* Old browsers */
        background: -moz-linear-gradient(top,  #969696 0%, #d0d0d0 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #969696 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #969696 0%,#d0d0d0 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #969696 0%,#d0d0d0 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #969696 0%,#d0d0d0 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
	border-top: solid 1px #fff;
	border-right: solid 2px #fff;
        direction:rtl;
        text-align: left;
        overflow-y:scroll;
        z-index: 9997;
}
.list, .list ul {
        list-style-type: none;
        list-style-position: outside;
	margin: 0;
	padding: 0;
}
.list li {
	display: block;
}
.list a {
	font-weight: bold;
	color: #000;
	display: block;
	padding: 12px 10px;
        border-top: 1px solid #fff;
	border-bottom: 1px solid #4d4d4d;
        
}
.friend-request {
	background-color: #ff9d9d;
}
.list a:hover {
	color: #969696;
	background-color: #fff;
}
.list img {
	float: left;
	margin-right: 10px;
	margin-top: -8px;
	border: 1px solid #5988ff;
}
.list li ul {
	display:none;
	background-color: #fff;
	position:absolute;
        left: 100px;
	width: 120px;
}
.list ul li ul {
    
}
.list li:hover ul, .list li.over ul {
	display:block;
        z-index: 9999;
        overflow:visible;
}
.list li:hover ul ul, .list li.over ul ul {
	display:none;
}
#friend-request {
	position: fixed;
	text-align: center;
	font-weight: bold;
	left: 0px;
	top: 452px;
	width: 200px;
	height: 80px;
	border-bottom-right-radius: 5px;
	background: #d0d0d0; /* Old browsers */
        background: -moz-linear-gradient(top,  #d0d0d0 0%, #d6d6d6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0d0d0), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d0d0d0 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d0d0d0 0%,#d6d6d6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d0d0d0 0%,#d6d6d6 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #d0d0d0 0%,#d6d6d6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	border-top: solid 1px #fff;
	border-right: solid 2px #fff;
	border-bottom: solid 2px #fff;
        z-index: 9997;
}
#monsterlist{
	position: fixed; 
	right:0px;
	top: 150px;
	width: 200px;
	height: 400px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #969696; /* Old browsers */
        background: -moz-linear-gradient(top,  #969696 0%, #d0d0d0 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #969696 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #969696 0%,#d0d0d0 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #969696 0%,#d0d0d0 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #969696 0%,#d0d0d0 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
	border-top: solid 1px #fff;
	border-left: solid 2px #fff;
	border-bottom: solid 2px #fff;
        overflow-y:scroll;
        z-index: 9997;
}
/* Table */
td {
	border-bottom: 1px solid #fff;
	padding: 10px;
	background-color: #e8edff;
	color: #8279ff;
}
tr.head td {
	border-top: 3px solid #aabcfe;
	background-color: #b9c9fe;
	color: #1200ff;
	font-weight: bold;
}
/* Found on: http://css-tricks.com/css3-progress-bars/ */
#monsterStats {
        visibility: hidden;
        width: 200px;
        height: 380px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -190px;
        margin-left: -100px;
	padding: 15px;
	background: #fff url(../images/content_bg.jpg) repeat-x top;
	border: 2px solid #fff;
	border-radius: 5px;
}

		.meter { 
			height: 10px;  /* Can be anything */
			position: relative;
			margin: 5px 0 2px 0; /* Just for demo spacing */
			background: #555;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			padding: 5px;
			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}
		
		.animate > span:after {
			display: none;
		}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}
		
		.orange > span {
			background-color: #f1a165;
			background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
			background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
		}
		
		.red > span {
			background-color: #f0a3a3;
			background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
			background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
		}
		
		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			background-image: none;
		}
.hover{
	color: grey;

}

.hover:hover + div {
    display: block;
}

.showme{ 
display: none;
}
.showhim:hover .showme{
display : block;
}
